$color_1: white;
$color_2: rgb(255, 255, 255);
$color_3: black;
$background-color_1: #212121;

/*........Reseteo---------*/
/*........FIN Reseteo---------*/
/*Me permite animar el filtro para que se expanda y se contraiga*/
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	&:before {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
	}
	&:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
	}
}


.bodyI {
	background: $color-fondoBody;
	background-repeat: repeat;

}

.pagConstruccion{
	display: none;
}



@media (max-width: 1075px) {
	.pagConstruccion{
	    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #faf9f9;
    letter-spacing: 1px;
    width: 100vw;
    flex-direction: column;

	 img{
		width: 200px;
	 }
	}
	
	header{
		display: none;
	}
	main{
		display: none;
	}
	footer{
		display: none;
	}
  } 