.ClimaHora{
  position: relative;
}

.cardD {
  width: 270px;
  height: 140px;
  position: absolute;
  padding: 25px;
  left:40px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  -webkit-box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  -webkit-transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  z-index: 5;
}

.cardD:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}


.cardN {
  width: 270px;
  height: 140px;
  position: absolute;
  padding: 25px;
  left:40px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #000000 0%, rgba(255, 255, 255, 0) 71.88%), #000000;
  -webkit-box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  -webkit-transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  z-index: 5;
}

.cardN:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}


.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
          min-width: 100px;
}

.cloud {
  width: 250px;
}

.front {
  padding-bottom: 5rem;
  left: 6rem;
  display: inline;
  position: absolute;
  z-index: 11;
  -webkit-animation: clouds 8s infinite;
  animation: clouds 8s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

  .descriptionClima{    word-break: break-all;
    margin-top: 16px;
    font-weight: 800;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.66);}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  -webkit-animation: clouds 12s infinite;
          animation: clouds 12s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-gradient(linear, left top, right top, from(#fcbb04), to(#fffc00));
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  -webkit-animation: sunshines 2s infinite;
          animation: sunshines 2s infinite;
}

@-webkit-keyframes sunshines {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes sunshines {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }

  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@-webkit-keyframes clouds {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }

  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

@keyframes clouds {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }

  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

.card-header {
  position: relative;
    bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: #545454f5;
}

.temp {
  position: absolute;
  left: 30px;
  bottom: -12px;
  font-weight: 700;
  font-size: 36px;
  line-height: 77px;
  color: #574d33;
}

.temp-scale {
  width: 80px;
    height: 36px;
    position: absolute;
    right: 16px;
    bottom: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}