//-----------FONTS

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@200&display=swap');

//-----------------Color Fondo

$color-fondoBody:linear-gradient(15deg, #212121, #1d0844);

//-------------------Cards

$color-cards:linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

//$color-cards: linear-gradient(to right, #8e2de2, #4a00e0);


//---------------Button Nav Bar

$color-buttonNavBar: linear-gradient(to right, #8e2de2, #4a00e0);


//---------------Button Desplazador

$color-buttonDesplazador: linear-gradient(45deg, #5f0a87, #8829e2);

